/* MEDIA QUERIES */

/* NAVBAR */

@media screen and (max-width: 960px) {
  #navbar .navbar {
    justify-content: flex-start !important;
  }
  .navbar a {
    font-size: 12px !important;
  }
  .navbar .searchbar-navbar form input {
    display: none !important;
  }
  .navbar .naviguation-navbar {
    order: 4 !important;
    width: 100% !important;
  }
  .navbar .naviguation-navbar nav {
    width: 100% !important;
    display: flex !important;
  }
  .navbar .naviguation-navbar nav ul {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-basis: 100% !important;
  }
  .navbar .naviguation-navbar a {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .navbar .naviguation-navbar nav ul li a img {
    width: 18px !important;
    height: 18px !important;
    margin: 0 !important;
  }
  .navbar .naviguation-navbar ul li:nth-child(5) {
    display: inline !important;
  }
  .navbar .login-navbar {
    order: 3 !important;
    display: flex !important;
    justify-content: flex-end !important;
    flex-basis: calc(100% - 100px) !important;
  }
  .plus-show {
    transform: translateY(80px) !important;
    transition: 0.3s ease-in-out;
  }
}
@media screen and (max-width: 768px) {
  #plus {
    transform: translateY(-840px) !important;
    transition: 0.3s ease-in-out;
  }
  .plus-item {
    width: 100% !important;
  }
  #plus.plus-show {
    transform: translateY(80px) !important;
    transition: 0.3s ease-in-out;
  }
}

/* FOOTER */

@media screen and (max-width: 1024px) {
  #footer .container .footer {
    display: flex !important;
    flex-direction: column !important;
    padding-bottom: 180px !important;
  }
  #footer .container .footer .footer-content .social-legale {
    position: absolute !important;
    bottom: 0 !important;
  }
  #footer .container .footer .footer-content:nth-child(2n + 2) {
    border-bottom: 2px var(--white) solid !important;
    padding-bottom: 16px !important;
    width: 100% !important;
  }
}

/* MY-TOILE */

@media screen and (max-width: 1100px) {
  .container-mytoile {
    width: 1024px !important;
  }
}
@media screen and (max-width: 1024px) {
  .container-mytoile {
    width: 960px !important;
  }
}
@media screen and (max-width: 960px) {
  .container-mytoile {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .container-mytoile {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  .container-mytoile {
    width: 100% !important;
  }
}

/* FILMS CARD */

@media screen and (max-width: 1100px) {
  .container-content {
    width: 1024px !important;
  }
}
@media screen and (max-width: 1024px) {
  .container-content {
    width: 960px !important;
  }
}
@media screen and (max-width: 960px) {
  .container-content {
    width: 768px !important;
  }
}
@media screen and (max-width: 768px) {
  .container-content {
    width: auto !important;
  }
  .wrapper {
    width: auto !important;
    flex-wrap: nowrap !important;
    overflow-y: auto !important;
  }
  .genresList {
    width: auto !important;
    flex-wrap: nowrap !important;
    overflow-y: auto !important;
  }
}
@media screen and (max-width: 480px) {
  .container-content {
    width: auto !important;
  }
  .wrapper {
    width: auto !important;
    flex-wrap: nowrap !important;
    overflow-y: auto !important;
  }
  .genresList {
    width: auto !important;
    flex-wrap: nowrap !important;
    overflow-y: auto !important;
  }
}

/* LUXE DINER */

@media screen and (max-width: 960px) {
  .luxediner .card-md img {
    width: 200px !important;
    height: 300px !important;
  }
}
@media screen and (max-width: 768px) {
  .luxediner .card-md:nth-child(2) {
    display: none !important;
  }
  .luxediner .card-horizontal {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .luxediner .card-horizontal img {
    height: 130px !important;
  }
  .luxediner .card-md img {
    width: 130px !important;
    height: 250px !important;
  }
}

/* I-SENSE */

@media screen and (max-width: 960px) {
  .isense-content {
    justify-content: center !important;
  }
  .isense-img {
    padding: 0;
  }
  .container-isense {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .container-content {
    width: auto !important;
  }
  .wrapper {
    width: auto !important;
    flex-wrap: nowrap !important;
    overflow-y: auto !important;
  }
  .genresList {
    width: auto !important;
    flex-wrap: nowrap !important;
    overflow-y: auto !important;
  }
  .isense-img {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  .container-content {
    width: auto !important;
  }
  .wrapper {
    width: auto !important;
    flex-wrap: nowrap !important;
    overflow-y: auto !important;
  }
  .genresList {
    width: auto !important;
    flex-wrap: nowrap !important;
    overflow-y: auto !important;
  }
  .isense-img {
    width: 100% !important;
  }
}

/* LOGIN */

@media screen and (max-width: 768px) {
  .footer-content .w50 {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  .footer-content .w-50 {
    width: 100% !important;
  }
}

/* MENU CARD */

@media screen and (max-width: 768px) {
  #menu .menu-card {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  #menu .menu-card {
    width: 100% !important;
  }
}

/* CONTACT */

@media screen and (max-width: 768px) {
  .contactform .contact-field {
    width: 100% !important;
  }
  .contactform .btn {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }
}
@media screen and (max-width: 480px) {
  .contactform .contact-field {
    width: 100% !important;
  }
  .contactform .btn {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }
}

/* RESERVATION */

@media screen and (max-width: 768px) {
  #seat h2,
  #food h2,
  #menu h2 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #checkout h2 {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  #checkout h2 {
    text-align: center;
  }
}

/* CONFIRMATION */

#confirmation .card-xs img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #confirmation h2,
  #confirmation p {
    text-align: center;
  }
}
