/* NAVBAR */

#navbar {
  z-index: 10;
}

#plus {
  z-index: 9;
  top: 0;
  transform: translateY(-250px);
  transition: 0.3s ease-in-out;
}

#plus.plus-show {
  transform: translateY(48px);
  transition: 0.3s ease-in-out;
}

.plus-item ul li a {
  color: var(--etoile-dark);
}

/* MYTOILE */

.container-mytoile {
  background-color: #101525;
  width: 1100px;
  margin: 0 auto;
}

.mytoile {
  position: relative;
  display: flex;
  width: 100%;
  height: 500px;
}

.mytoile a {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 24px;
}

.footer-content ul {
  padding: 0;
}

.footer-content ul li {
  list-style: none;
  margin: 12px 0;
}

.footer-content .social-icons {
  display: flex;
  justify-content: space-between;
}

.footer-content .social-icons i {
  font-size: 24px;
}

.footer-content form {
  display: flex;
  flex-wrap: nowrap;
}

/* LUXE DINER*/

.card-horizontal {
  width: 100%;
  display: none;
}

.card-horizontal img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.25));
  transition: all 0.2s ease-in-out;
}