.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 24px;
}

.footer-content ul {
  padding: 0;
}

.footer-content ul li {
  list-style: none;
  margin: 12px 0;
}

.footer-content .social-icons {
  display: flex;
  justify-content: space-between;
}

.footer-content .social-icons i {
  font-size: 24px;
}

.footer-content form {
  display: flex;
  flex-wrap: nowrap;
}
