.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.light {
  background-color: var(--light);
}

.dark {
  background-color: var(--dark);
}

.white {
  background-color: var(--white);
}

.black {
  background-color: var(--black);
}
