//
// DISPLAY
//

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

//
// JUSTIFY-CONTENT
//

.jusityfy-start {
  justify-content: flex-start;
}

.jusityfy-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

//
// ALIGN-ITEMS
//

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}
.align-stretch {
  align-items: stretch;
}

//
// WRAP
//

.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

//
// ROW & COLUMN
//

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.col {
  flex-direction: column;
}

.col-reverse {
  flex-direction: column-reverse;
}

.classBody {
  display: flex;
  flex-wrap: wrap;
  & > * {
    width: 100%;
  }
  & footer {
    align-self: flex-end;
  }
}
