h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  color: var(--etoile-dark);
  font-weight: 700;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
  font-family: var(--main-font);
  color: var(--dark);
  font-weight: 400;
  font-size: 16px;
}
a {
  font-family: var(--main-font);
  color: var(--dark);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

li {
  font-family: var(--main-font);
  color: var(--dark);
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: 700;
}
